<app-header></app-header>


<div class="d-flex flex-direction-row">
    <div class="col-md-10">
        <div class="friendsbox-container">
            <div class="friendsbox">
                <div style="display: flex; flex-direction: column; width: 100%;">
                    <div style="padding: 5px;">
                        <h5>Freunde:</h5>
                    </div>
                    <div class="friends-container">
                        <div class="friend-added" *ngFor="let i of getArrayFriends()">
                            <app-friendbox [profilePicture]="imgs[i]" [profileText]="name[i]"></app-friendbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" *ngFor="let i of getArrayLength()">
            <app-hamstercard [image]="postImage[i]" [text]="postText[i]"></app-hamstercard>
        </div>
    </div>

    <div class="col-md-2">
        <div class="propsals-container">
            <app-profile-row></app-profile-row>
            <div class="friendsuggestion" *ngFor="let i of getArrayFriends()">
                <app-proposals [profilePicture]="imgs[i]" [profileText]="name[i]"></app-proposals>
            </div>

        </div>
    </div>
</div>


<router-outlet></router-outlet>
